{
    "bracketSpacing": true,
    "singleQuote": true,
    "printWidth": 140,
    "trailingComma": "all",
    "overrides": [
      {
        "files": "**/*.md",
        "options": {
          "parser": "markdown",
          "proseWrap": "always"
        }
      }
    ]
  }